<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>404</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no;">
	<link rel="stylesheet" href="">
</head>
<body>
	找不到网页
	<button id="btn">按钮</button>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<script>

	wx.config({
	  debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	  appId: 'wx7405ddee3aee9678', // 必填，公众号的唯一标识
	  timestamp: "<%= timesTamp %>", // 必填，生成签名的时间戳
	  nonceStr: "<%= noncestr %>", // 必填，生成签名的随机串
	  signature: "<%= signature %>",// 必填，签名
	  jsApiList: [
	  	'onMenuShareWeibo',
	  	'startRecord',
	  	'stopRecord',
	  	'onMenuShareQQ',
	  ] // 必填，需要使用的JS接口列表
	});

	wx.ready(function(){
	  // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。


	  // 验证接口是否可以调用
	  wx.checkJsApi({
		  jsApiList: [
		  	'onMenuShareWeibo',
		  	'startRecord',
		  	'stopRecord',
		  	'onMenuShareQQ',
		  ], // 需要检测的JS接口列表，所有JS接口列表见附录2,
		  success: function(res) {
		  // 以键值对的形式返回，可用的api值true，不可用为false
		  // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}

		  	console.log(res);
		  }
		});

	  //语音识别的功能
	  //
	  //// 设置标志位，是否在录音中
	  	var isRecord = false;
	  $("#btn").tap(function(){

	  	console.log(isRecord);

	  	if( !isRecord ){
	  		// 开始录音
	  		wx.startRecord();
	  		isRecord = true;
	  	}else{
	  		// 结束录音
		  	wx.stopRecord({
			  success: function (res) {

			  	// 获取录音的ID
			    var localId = res.localId;
			 	
			 	var url = 'https://api.douban.com/v2/movie/subject/30261964?callback=?&apikey=0df993c66c0c636e29ecbb5344252a4a';

				$.getJSON(url,function(data){
						console.log(data);
				});

				isRecord = false;
			  }
			});

			

			
	  	}

	  	


	  	
	  });

	});

	wx.error(function(res){
	  // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
	});
</script>
</html>